<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TEMPLATE_1</title>
        <link rel="stylesheet" href="template1.css">
    </head>

    <body>

        <header role="banner">
            <h1>HEADER</h1>
        </header>

        <main class="wrapper" role="main">
            
            <nav id="navigation" role="navigation">
                <a href="#">Lien 1</a>
                <a href="#">Lien 2</a>
                <a href="#">Lien 3</a>
                <a href="#">Lien 4</a>
                <a href="#">Lien 5</a>
            </nav>

            <section class="content">
                <h2>SECTION</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ratione, esse quo cumque eveniet
                    itaque laboriosam obcaecati modi beatae assumenda! Fugit aliquam reprehenderit eos nesciunt ut
                    adipisci? Assumenda quo quisquam blanditiis deserunt inventore. Aliquam voluptatibus laudantium
                    quaerat, magni ad non veritatis perferendis minima soluta optio hic modi quibusdam facilis obcaecati
                    aspernatur, quas dicta deserunt repellendus ex sunt? Iste, exercitationem dolores aspernatur omnis
                    voluptatem iusto. Commodi aspernatur beatae expedita eaque necessitatibus corporis incidunt
                    doloremque quaerat tempore quam alias eos, quos cupiditate sequi nulla quibusdam ducimus cum nemo
                    modi laborum temporibus praesentium non facilis? Molestiae itaque quos fuga aliquid totam debitis
                    voluptatibus velit voluptas. Ullam quis exercitationem amet fuga asperiores voluptates fugiat, hic
                    at, illum sapiente dolore non commodi quo! Voluptatibus quaerat quos quam quis voluptas ad dicta
                    officiis facere doloremque unde. Obcaecati ut minima eaque repellendus, magnam voluptatibus quisquam
                    nostrum saepe. Accusamus ullam a recusandae odio facere! Velit tempore quisquam, itaque,
                    consequuntur non ullam dolore odit, ex delectus optio quasi assumenda? Dignissimos nulla illo, sequi
                    voluptas deserunt exercitationem eveniet facere vel velit, mollitia perspiciatis impedit minima
                    quasi error ab porro repellat cupiditate voluptate. Dolore culpa veritatis sed consequuntur maiores
                    similique maxime recusandae numquam, quaerat delectus nemo ea nostrum eligendi, reprehenderit
                    tempora!
                </p>
            </section>
        </main>

        <footer role="contentinfo">
            <h2>FOOTER</h2>
        </footer>

    </body>

</html>
