.w-shrink {
  font-size: 3rem;
  line-height: 8rem;
  text-align: center;
  background-color: var(--flex-item_bgcolor);
}

.w-compare {
  flex-basis: 500px;
  width: 300px;
}

/*--------------------------------------------------------------
                          flex-shrink 
______________________________________________________________*/
.flex-shrink--0 {
  flex-shrink: 0;
}

.flex-shrink--1 {
  flex-shrink: 1;
}

/*--------------------------------------------------------------
                          flex-basis 
______________________________________________________________*/
.flex-basis-500 {
  flex-basis: 500px;
}
