.align-self--auto {
  align-self: auto;
}

.align-self--start {
  align-self: flex-start;
}

.align-self--center {
  align-self: center;
}

.align-self--end {
  align-self: flex-end;
}

.align-self--stretch {
  align-self: stretch;
}

.align-self--baseline {
  align-self: baseline;
}
/* PARENT */
.align-items--stretch {
  align-items: stretch;
}
