/*--------------------------------------------------------------
                          flex-grow
______________________________________________________________*/
.flex-grow--0 {
  flex-grow: 0;
}

.flex-grow--1 {
  flex-grow: 1;
}

.flex-grow--2 {
  flex-grow: 2;
}

.flex-grow--3 {
  flex-grow: 3;
}

/*--------------------------------------------------------------
                          flex-1
______________________________________________________________*/
.flex--1 {
  flex: 1;
}

.cas2--item1 {
  flex: 1 0 200px;
}

.cas2--item2 {
  flex: 1 0 400px;
}

.cas4--item1 {
  flex: 1 0 200px;
}

.cas4--item2 {
  width: 200px;
}

.cas5--item1 {
  font-size: 20px;
  /*rien*/
}

.cas5--item2 {
  width: 200px;
}
