header {
  background-color: rgb(11, 216, 11);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
ul {
  display: flex;
  justify-content: flex-end;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: white;
  margin: 1rem;
}
.navLogo {
  display: flex;
  align-items: center;
}
.active {
  background-color: black;
}
.logo{
    width: 2rem;
}
.logo img{
    width: 100%;
}
