/* RESET */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 0.625 * 16px = 10 px */
}

.galerie {
  display: flex;
  gap: 2rem;
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* justify-content: flex-start; */
    border: solid red 1px;
}

.galerie > img {
  flex: 1 1 auto;
  /* width: auto;*/
  height: auto;
  max-width: 250px;
  max-height: 150px;
  /* margin: 5px; */
  object-fit: cover;
  /* */transition: transform 0.2s; 
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
}

.galerie:hover img {
  filter: blur(1px) brightness(0.8) grayscale(0.7);
  transform: scale(0.8);
  -webkit-filter: blur(1px) brightness(0.8) grayscale(0.7);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}

.galerie img:hover {
  filter: blur(0);
  transform: scale(1);
}

.top {
  object-position: center top;
}
